.TreeTable {
  width: 100%;
  padding: 0 12px 50px 12px;
  background-color: #202124;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &>thead>tr>th {
    text-align: left;
    font-weight: 400;
  }

  &>thead>tr>th {
    padding: 0px 12px;
  }

  &>thead>tr>th:nth-child(2) {
    width: 100%;
    min-width: 400px;
  }

  &>thead>tr>th:nth-child(3) {
    min-width: 200px;
  }

  &>thead>tr>th:nth-child(4) {
    min-width: 200px;
  }

  &>thead>tr>th:nth-child(5) {
    min-width: 200px;
  }

  &>thead>tr>th:nth-child(6) {
    min-width: 200px;
  }

  &>tbody>tr>td:nth-child(1) {
    padding: 0px 12px;
  }

  &>tbody>tr>td:nth-child(2) {
    padding: 8px 12px;
  }

  &>tbody>tr>td:nth-child(3) {
    padding: 8px 12px;
  }

  &>tbody>tr>td:nth-child(4) {
    padding: 8px 12px;
  }

  &>tbody>tr>td:nth-child(5) {
    padding: 8px 12px;
  }

  &>tbody>tr>td:nth-child(6) {
    padding: 8px 12px;
  }


}

.tHeadTr {
  height: 56px;

  box-shadow: 0 1px 0px 0px var(--table-tree-tr-bottom-border);
  color: #A1A1AA;
}

.tHeadTdFirst {
  width: 1px;
  position: relative;
}

.tBodyTr {
  box-shadow: 0 1px 0px 0px var(--table-tree-tr-bottom-border);
  @-moz-document url-prefix() {
    height: 100%;
  }
}

.tBodyTdFirst {
  position: relative;
  height: 60px;
  padding: 0 20px 0 0;
  // border: 1px solid green;
  @-moz-document url-prefix() {
    height: 100%;
    min-height: 60px;
  }
}

.tBodyTdFirstContentWrapper {
  display: flex;
  // border: 1px solid red;
  height: 100%;
  @-moz-document url-prefix() {
    min-height: 60px;
  }
}

.tHeaderLevelTitle {
  position: absolute;
  left: 60px;
  top: 20px;
}
