*,
*::before,
*::after {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #27272a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 20px;
    border: 1px solid #27272a;
  }
}

body {
  background-color: #27272a;
  color: #fff;
}


